* {
  padding: 0;
  margin: 0;
  list-style: none;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #eee;
  overflow-y: auto;
}
:global {
  .am-navbar{
    flex-shrink: 0!important;
  }
  .am-navbar-title{
    font-size: 14px!important;
  }
}
.prog {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  flex-shrink: 0;
  background: #fff;
}

.prog span {
  flex: 1;
  color: #3aaffd;
  text-align: center;
  height: 100%;
  line-height: 45px;
  font-size: 14px;
  background: linear-gradient(-113deg, transparent 10px, #fff 0) top right,
    linear-gradient(-66deg, transparent 10px, #fff 0) bottom right;
  background-size: 100% 51%;
  background-repeat: no-repeat;
}

.prog span:nth-child(1) {
  color: #fff;
  background: linear-gradient(-113deg, transparent 10px, #3aaffd 0) top right,
    linear-gradient(-66deg, transparent 10px, #3aaffd 0) bottom right;
  background-size: 100% 51%;
  background-repeat: no-repeat;
}

.imgs {
  width: 100%;
  background-size: 100% 100px;
  flex-shrink: 0;
  img{
    width: 100%!important;
    height: auto;
  }
}

.identity {
  width: 100%;
  height: 110px;
  background: #fff;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  flex-shrink: 0;
}

.identity dl {
  width: 18%;
  height: 105px;
  box-sizing: border-box;
  padding: 10px 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.identity dl dd {
  width: 55px;
  height: 42px;
  border: 1.5px solid #ddd;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.identity dl dd img {
  width: 50%;
}

.identity dl dt {
  width: 50px;
  text-align: center;
  font-size: 14px;
  font-family: '黑体';
  letter-spacing: .1px;
}

.serve {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.serve li {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

:global {
  .am-list-line {
    padding: 0 !important;
    font-size: 14px;
  }

  .am-list-extra {
    flex-basis: initial !important;
  }
}

.serve li:nth-child(1) {
  position: relative;
}

.serve li:nth-child(1) span:nth-child(2) {
  color: #333 !important;
}

.serve li:nth-child(1) i {
  position: absolute;
  right: 0;
  top: 17px;
  color: #999;
}

.serve li span:nth-child(2) {
  color: #999 !important;
}

.serve li:last-child span:nth-child(2) {
  color: tomato !important;
}

.Vip {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  box-sizing: border-box;
  flex-shrink: 0;
}

.Vip li {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.Vip li:nth-child(2) {
  height: 45px;
  border: none;
  font-size: 14px;
}

.Vip li:nth-child(2) i {
  color: #999;
}

.Vip li dl:nth-child(1) {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 65%;
}

.Vip li dl:nth-child(1) dd {
  color: #666;
  font-size: 12px;
}

.Vip li dl:nth-child(2) {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border: none;
  box-sizing: border-box;
}

.Vip li dl:nth-child(2) dd:nth-child(1) {
  color: #888;
  font-size: 14px;
}

.Vip li dl:nth-child(2) dd:nth-child(2) {
  color: tomato;
  font-size: 16px;
}

label {
  width: 20px;
  height: 20px;
}

label span,
label span input {
  width: 100%;
  height: 100%;
}

.Vip li button {
  width: 40px;
  height: 20px;
}

.question {
  width: 100%;
  height: 50px;
  margin-bottom: 80px;
  padding-top: 10px;
  text-align: center;
  color: #3aaffd;
}

/* 脚部 */
.foot {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  background: #fff;
  border-top: 1px solid #ddd;
  span:nth-child(1) {
    padding-left: 10px;
    em{
      font-style: normal;
      color: tomato;
    }
  }
  .to_pay {
    width: 100px;
    height: 100%;
    line-height: 50px;
    background: #999999;
    color: #fff;
    text-align: center;
  }
  .cusService{
    position: fixed;
    bottom: 55px;
    right: 15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: #3aaffd;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 70%;
    }
  }
}

